.back {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(99, 50, 5);
}

.block {
  width: 300px;
  background-color: rgb(174, 128, 72);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 0;
  border-radius: 10px;
}

.list {
  background-color: #fff;
  height: 100px;
  width: 83%;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: relative;
}

.h1 {
  font-size: 23px;
  font-weight: 400;
}

.h3 {
  position: absolute;
  font-weight: 400;
  top: 0;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.btn {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: bisque;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
